.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* Controles do mapa */
.leaflet-control {
  z-index: 500 !important;
}

/* Camadas do mapa */
.leaflet-pane {
  z-index: 400 !important;
}

/* Controles superiores e inferiores */
.leaflet-top,
.leaflet-bottom {
  z-index: 500 !important;
}

/* Container do mapa */
.map-container {
  height: 100%;
  width: 100%;
  position: relative;
  flex: 1;
  display: flex;
}

/* Ajuste para layout mobile */
@media (max-width: 1024px) {
  /* Altura total menos a altura do header (56px) */
  .leaflet-container {
    height: calc(100vh - 56px);
  }
}
